
h3 {
    font-weight: 300px;
    color: rgb(255, 0, 89);
    margin-left: 25px;
}

p {
    font-style: oblique;
    font-weight: 300px;
    color:indigo;
    margin-left: 25px;
}

h4 {
    font-weight: 300px;
    color: rgb(255, 0, 89);
    margin-left: 25px;
}
