<div class="toolbar" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-between">
          <li class="nav-item">
          <a class="nav-link" routerLink=""><h5>FOODBOX</h5></a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          </ul>
          </div>
          <ul class="navbar-nav d-flex justify-content-between">
          <li ><a routerLink='userPortal' class="nav-link" id="linkUserPortal">User Login</a>
          </li>
          <li ><a routerLink='adminPortal' class="nav-link" id="linkAdminPortal">Admin Login</a>
          </li>
        </ul>
    </nav>
  </div>
  
      