h1 {
    color: blue;
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}
button {
    margin-left: 30px;
}
img {
    max-width: 40%;
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
