div {
    margin-left: 25px;
    margin-top: 25px;
    width: 30%;
}
h3, button {
    margin-left: 25px;
    margin-top: 5px;
    font-family: cursive;
}
.form-control {
    border: 1px solid blue;
}
table {
    max-width: 35%;
    margin-right: 5%;
    margin-top: 5px;
    float: right;
}
